html,
body {
    margin: 0;
    padding: 0;
}

.main_container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.main_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-right: 2px solid #eee;
}

.main_list li {
    padding: 10px;
    margin: 10px;
    border: 1px solid #aaa;
    cursor: pointer;
}

.item_content p,
.main_list li p {
    text-align: left;
}

#replies_list {
    display: flex;
    flex-direction: column;
}

.list_container {
    border-right: 2px solid #ddd;
}

.item_content {
    padding: 20px 30px;
}

.item_content div {
    display: flex;
    flex-direction: row;
}

.item_content div.desc {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.desc p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.comment {
    margin: 10px 0;
}

#video_title {
    flex-grow: 10;
}

.main_list li {
    display: flex;
    flex-direction: row;
}

.main_list li img {
    width: 120px;
    height: 90px;
}

.main_list li p {
    padding: 0 10px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.main_list li.selected {
    background-color: #ddd;
}

.button_row {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
}

.button_row button {
    margin: 10px 5px 0 0;
}

.button_row div {
    margin: 10px 5px 0 0;
}

.comment img {
    width: 48px;
    height: 48px;
}

.spam {
    padding: 1px 3px;
    border: 1px solid #faa;
    background-color: #f00;
}
